/README.txt
/gradle
/.gradle
/.settings
/bin
/build
/eclipse
/forge-1.7.10-10.13.2.1291-changelog.txt
/.classpath
/.project
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/buildlog.txt
/gradlew
